body {
  background-color: #f9ca96;
  font-family: 'Inter Tight', sans-serif;
}

body.dark-mode button {
  background: #96c457;
  border: 1px solid #96c457;
  border-radius: 4px;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

body.dark-mode {
  background: #010101;
}

h1#site-title {
  color: #4b2208;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px
}

body.dark-mode #site-title {
  color: #f7820f;
}

nav ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
  border-bottom: 3px solid #cf5704;
  border-top: 3px solid #cf5704;
}

body.dark-mode nav ul {
  border-bottom: 3px solid #5e32ba;
  border-top: 3px solid #5e32ba;
}

@media all and (min-width: 720px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2vw;
  }
}

nav ul li a {
  color: #4b2208;
  text-decoration: none;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

body.dark-mode nav ul li a {
  color: #96c457;
}

@media all and (min-width: 720px) {
     nav ul li a {
       font-size: 13px;
       padding: 12px;
     }
}

nav ul li a:hover {
  border-bottom: 3px solid #4b2208;
  padding-bottom: 9px;
}

body.dark-mode nav ul li a:hover {
  border-bottom: 3px solid #96c457;
  padding-bottom: 9px;
}

div.container {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
}

h1#article-title {
  color: #4b2208;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

body.dark-mode #article-title {
  color: #f7820f
}

img {
  max-width: 100%;
  height: auto;
}

figure.main-image {
  border: 5px solid #cf5704;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

body.dark-mode figure.main-image {
  border: 5px solid #96c457;
}

figcaption {
  color: #4b2208;
  font-style: italic;
  text-align: center;
  border-bottom: 5px solid #f9ca96;
}

body.dark-mode figcaption {
  color: #f7820f;
  border-bottom: 5px solid #010101;
}

h2.section-header {
  color: #4b2208;
  font-weight: 500;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

body.dark-mode h2 {
  color: #5e32ba;
}

@media all and (min-width: 720px) {
  h2.section-header {
    font-size: 1.75rem;
  }
}

figure.section-image {
  float: right;
  margin-left: 20px;
  margin-bottom: 32px;
  border: 5px solid #cf5704;
  padding: 5px;
}

body.dark-mode figure.section-image {
  border: 5px solid #96c457;
}

article p {
  color: #4b2208;
  margin-left: auto;
  margin-right: auto;
}

body.dark-mode article p {
  color: #f7820f;
}

p.last-p {
  padding-bottom: 50px;
}

footer {
  background-color: #cf5704;
  border-bottom: 15px solid #cf5704;
  border-top: 5px solid #4b2208;
}

body.dark-mode footer   {
  border-top: 5px solid #5e32ba;
}

footer p {
  color: #4b2208;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

body.dark-mode footer nav ul {
  border-bottom: 3px solid #cf5704;
  border-top: 3px solid #cf5704;
}

body.dark-mode footer nav ul li a {
  color: #010101;
}
