body {
  background-color: #f9ca96;
}

header {
  font-family: verdana;
}

h1 {
  color: #cf5704;
  width: 1225px;
  font-size: 3rem;
  font-style: bold;
  text-align: center;
}

p {
  font-family: verdana;
  background-color: #f7820f;
  color: #4b2208;
  width: 1225px;
  border: 1px solid #f7820f
}

figure {
  width: 1100px;
  height: auto;
  border: 10px solid #cf5704;
}

figcaption {
  color: #4b2208;
  font-family: verdana;
  text-align: center;
  border-bottom: 5px solid #f9ca96;
}

figure img {
  max-width: 100%;
  height: auto;
  border-bottom: 10px solid #cf5704;
}

p img {
  float: right;
  max-width: 30%;
  margin-left: 20px;
  margin-bottom: 32px;
  border: 10px solid #cf5704;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  border-bottom: 3px solid #cf5704;
  border-top: 3px solid #cf5704;
}

nav ul li a {
  color: #cf5704;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid #4b2208;
  padding-bottom: 9px;
}
